.inputWrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  width: 100%;
  align-items: stretch;
}

.inputLabel {
  font-weight: bold;
  margin-right: 10px;
}
.inputError {
  color: #f00;
}
.inputLabel span {
  font-size: 14px;
  font-weight: normal;
  display: block;
}
.input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  width: 150px;
  margin-top: 0;
  font-size: 14px;
}
.select {
  background-color: transparent;
  color: #fff;
  border-width: 0;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: -8px;
}
