.exchangeButton {
  color: #fff;
  background-color: #E300AC;
  border-radius: 20px;
  box-shadow: none;
  width: 100%;
  padding: 8px 0;
  border-width: 0;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.exchangeButton:disabled {
 opacity: 0.5;
}

