* {
  box-sizing: border-box;
}

.mainWrapper {    
  margin: 40px auto 0;
  width: 400px;
  background: #2267F7;
  color: #fff;
  padding: 30px;
  border-radius: 5px;
}

.appHeader {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.appHeader h1 {
    margin: 0;
    padding-bottom: 10px;
}
